body {
  margin: 0;
  padding: 0;
}

#mainPage {
    height: 90vh;
    width: 100%;
    background-image: url('images/background.jpg');
    background-position: center center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: #fdfdfd;
    margin-left: 15px;
    align-items: center;
}

#right-menu {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 15px;
}

#booking {
    padding-left:15px
}

#slogan {
    height: 5px;
    width: 100%;
    align-items: center;
    justify-content:space-around;
    margin-bottom: 50px;
}

#trip {
    height: 100%;
    width: 100%;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin-bottom: 100px;
}

#city {
    width:90%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

#searchTrip {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 50vh;
    border-radius: 1vh;
}

#tripFound {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 50vh;
    border-radius: 1vh;
}


#searchButton {
    height: 60px;
    width:90%;
    border-radius: 1vh;
    background-color: #31A189;
}


input {
    color: black;
    height: 30px;
    width : 300px;  
}

#logo {
    height: 50%;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 15px;
}

.text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#txt-tripFound {
    margin-top: 60px;
}

#formGeo {
    width: 90%;
    height: 3px;
    background-color:#31A189;
    margin-top: 5px;
}

.title {
    color:black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#tickethack {
    color:#31A189
}

.text {
    color:white;
}

#txt-tripFound {
    color:black
}
